body {
	color: white;
	background-color: #475063;
}

div.main {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

div.main textarea {
	resize: none;
}

div.center {
	position: absolute;
	left: 50%;	
	transform: translate(-50%);
}

div.center button {
	transform: translate(50%);
}

div.bg {
	display: none;
}
